<h1>This is my Show page</h1>
<p>Beer Name: <%= @beer["name"] %> </p>
<p>Beer Style: <%= @beer["style"] %> </p>
<p>Beer Alcohol Content: <%= @beer["alcohol"] %> </p>
<p>Beer ibu Content: <%= @beer["ibu"] %> </p>